{{#if headline}}
{{!-- <div class="container">
    <div>
        <h2>{{headline}}</h2>
        <p>{{summary}}</p>
        <a href="{{link}}" target="_blank">{{link}}</a>
    </div>
</div> --}}
<div class="card">
    <div class="card-body">
        <h3 class="card-title">{{headline}}</h3>
        <p class="card-text">{{summary}}</p>
        <a href="{{link}}" class="card-link">{{link}}</a>
        <button data-id="{{_id}}" class="articles btn btn-light">Select</button>
    </div>
</div>
{{/if}}